---
import Nav from "./Nav.astro";

interface Props {
  title?: string;
  tagline?: string;
}

const {
  title = "Carbonara Rocks",
  tagline = 'The authentic Italian recipe and its acceptable variations. No cream ever. <span class="font-bold">Ever.</span>',
} = Astro.props;
---

<!-- HEADER -->
<header class="px-6 py-12 text-center">
  <h1 id="title" class="text-5xl font-bold text-amber-900">
    <a href="" class="hover:underline">{title}</a>
  </h1>
  <p id="tagline" class="mx-auto mt-6 max-w-xl text-lg text-amber-700" set:html={tagline} />

  <Nav />
</header>
