---
import Label from "./Label.astro";
import Button from "./Button.astro";
---

<section id="hero" class="border-accent bg-surface w-full scroll-mt-30 border-2 p-0.5">
  <div class="border-accent min-h-144 min-w-full space-y-6 border p-10 text-center">
    <Label label="The authentic Italian recipe" />

    <hr class="border-accent mx-auto w-15" />

    <h1 class="text-6xl font-semibold md:text-8xl">
      Carbonara<br /><span class="text-accent italic">the Italian way</span>
    </h1>

    <p class="mx-auto max-w-lg text-xl md:text-2xl">
      No food-blogger backstory, no partner ingredients, no money to make. Just an Italian who loves
      carbonara, sharing how to stick to the roots — and how to bend them a little without losing
      the soul.
    </p>

    <nav class="mt-10 flex items-center justify-center gap-4 text-sm font-semibold">
      <Button href="#recipe">Jump to the recipe</Button>
      <Button href="#what-is-carbonara" variant="outline">What is it</Button>
    </nav>
  </div>
</section>
