<section
  id="hero"
  class="border-accent bg-surface position-relative mx-auto mt-10 max-w-5xl border-2 p-[2px]"
>
  <div
    class="border-accent flex min-h-144 min-w-[100%] flex-col items-center justify-center gap-5 border-1 p-10 text-center"
  >
    <p class="text-accent text-sm tracking-[0.35em] uppercase">The authentic recipe</p>

    <hr class="border-accent w-15" />

    <h2 class="text-8xl font-semibold">
      Carbonara<br /><span class="text-accent italic">the Italian way</span>
    </h2>

    <p class="mx-auto max-w-lg text-2xl">
      No food-blogger backstory, no partner ingredients, no money to make. Just an Italian who loves
      carbonara, sharing how to stick to the roots — and how to bend them a little without losing
      the soul.
    </p>

    <nav class="text-align-center text-md items-center gap-2 text-sm">
      <a
        href="#recipe"
        class="bg-accent text-bold text-md px-5 py-3 tracking-[0.12em] text-white uppercase"
        >Jump to the recipe</a
      >
      <a href="#what-is-it" class="underline">first, what is it?</a>
    </nav>
  </div>
</section>
