---
import Wordmark from "./Wordmark.astro";
import { Image } from "astro:assets";
import monogram from "../assets/favicon.svg";
---

<div id="title" class="text-2xl leading-[0.92] font-semibold tracking-tight">
  <a href="#hero" class="text-ink flex items-center gap-2">
    <Image src={monogram} alt="" width={24} priority />
    <Wordmark />
  </a>
</div>
