<nav class="text-align-center text-md flex items-center gap-10 text-sm tracking-[0.14em] uppercase">
  <a class="hover:text-accent" href="#what-is-carbonara">What is it</a>
  <a class="hover:text-accent" href="#swaps">Swaps</a>
  <a
    href="#recipe"
    class="bg-accent rounded-[1px] px-4 py-2 text-sm tracking-[0.14em] text-white uppercase"
    >The recipe</a
  >
</nav>
