---
import favicon from "../assets/favicon.svg?url";
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/svg+xml" href={favicon} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;0,700;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400;0,600;0,700;0,800;1,400&family=Spectral:ital,wght@0,400;1,400&display=swap"
      rel="stylesheet"
    />

    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="The authentic Italian recipe for spaghetti carbonara by an Italian. It's pure comfort in a bowl."
    />

    <title>Carbonara Rocks - Authentic Italian Carbonara Recipe</title>
  </head>
  <body>
    <a
      href="#main"
      class="focus:bg-accent sr-only focus:not-sr-only focus:absolute focus:top-4 focus:left-4 focus:z-[100] focus:px-4 focus:py-2 focus:text-white"
    >
      Skip to content
    </a>
    <slot />
  </body>
</html>
